body {
  background-image: url("./bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 80%;
  margin: 10% 10%;
  padding: 2% 2%;
}

@media (max-width: 768px) {
  .box {
    width: 90%;
    margin: 5% 5%;
  }
}

.search-bar {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
}
.location-search {
  margin: 10px 2px;
}

.search-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 6px;

  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
}
#getWeatherButton {
  padding: 2px 2px;
}
.details-container {
  margin: 1% 1%;
}
#displayArea {
  margin-left: auto;
  margin-right: 2%;
}

.details-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.left-details {
  flex: 1;
  margin: 5px 5px;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.right-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .temperature-toggle {
    margin-top: 10px;
  }
}

.icon {
  display: flex;
  align-items: center; /* Vertically center align the icon and text */
}

.icon h3 {
  margin-left: 5px; /* Adjust as needed for spacing between the icon and text */
}

/* Reduce space between elements */
#humidity,
#windSpeed,
#weatherDescription,
#windDirection {
  margin: 2px 2px; /* Adjust as needed */
}

.responsive-font {
  font-size: 8vw;
}
